@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Poppins:wght@300;400;500;600;700&family=Rubik:wght@500;600&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

.navbar-mobile {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.home-page {
    background-color: #0F172A;
}

.home-page h2 {
    color: white;
}

.pokemon-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 320px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.pokemon-card:hover {
    background-color: #f5f5f5;
    transform: translateY(-5px);
}

.pokemon-card:hover .pokemon-name {
    color: #000000;
}

.pokemon-name {
    color: #f5f5f5;
    text-transform: uppercase;
    font-weight: 600;
}

.modal-title {
    text-transform: uppercase;
}

.pokemon-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 50%;
    margin-bottom: 10px;
}

.pokemon-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.pokemon-name {
    font-size: 24px;
    margin-bottom: 10px;
}

.pokemon-image-detail {
    max-width: 40%;
    height: auto;
}

.pokemon-info {
    flex-grow: 1;
    padding-left: 20px;
}

.pokemon-text {
    font-size: 16px;
    margin-bottom: 5px;
}

.pokemon-abilities {
    list-style-type: none;
    padding-left: 0;
}

.stat-item {
    text-align: center;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.pokemon-details-header {
    margin-bottom: 20px;
}

.pokemon-stats {
    margin-bottom: 10px;
    text-transform: uppercase;
}

.stat-value {
    margin-top: 5px;
}

.pokemon-info p {
    margin-bottom: 10px;
}

.my-pokemon {
    background-color: #0F172A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-pokemon h1 {
    margin-top: 20px;
    font-size: 2em;
    color: #f5f5f5;
}

.catch-pokemon-content {
    background-image: url(../src/assets/img/hutan_cleanup.jpg);
    background-size: cover;
    background-position: center;
    width: 800px;
    height: 470px;
    margin-left: -130px;
    color: white;
    background-color: #0F172A;
    border-radius: 10px;
    margin-bottom: 50px;
}


@media (max-width: 1200px) {
    .catch-pokemon-content {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
    }

    .catch-pokemon-content .button-catch {
        margin-top: 20px;
    }
}


@media (max-width: 992px) {
    .catch-pokemon-content {
        width: 90%;
        margin: 10px auto;
        padding: 15px;
    }

    .catch-pokemon-content .button-catch {
        margin-top: 15px;
    }
}

@media (max-width: 576px) {
    .catch-pokemon-content {
        width: 95%;
        margin: 5px auto;
        padding: 10px;
    }
}

@media (max-width: 375px) {
    .catch-pokemon-content {
        width: 98%;
        margin: 5px auto;
        padding: 8px;
    }
}

@media (max-width: 576px) {
    .prev-next {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .prev,
    .next {
        width: calc(50% - 5px);
        max-width: 100px;
        text-align: center;
        width: 100px;
    }
}

.catch-pokemon-page {
    background-color: #0F172A;
}

.pokemon-image-catch {
    width: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 50px;
}

.button-catch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.pokemon-list-success {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-card-success {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

.pokemon-image-success {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.mypokemon-page {
    background-color: #0F172A;
    color: #f5f5f5;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
}

.pagination-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}